td {
	padding: 7px;
}

td {
	color: grey !important;
	width: 80px!important;
	height: 80px!important;
	text-align: center;
}

.container {
	margin-top: 40px;
}

.container-fluid {
	margin-top: 40px;
}

.piece-board-img {
	max-width: 70px;
}

.opacity-0 {
	opacity: 0;
}

#container-for-moves, #container-for-human-game-moves {
	max-height: 500px;
	overscroll-behavior-block: contain;
	overflow: auto;
}

.bg-white {
	background-color: white;
}

.bg-green-board-square {
	background-color: #769656;
}